body{
    margin: 30px;
}

h1{
    color: white;
    background-color: black;
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-family: sans-serif;
}

h2{
    color: blanchedalmond;
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.form{
    background-color: rgb(181, 180, 180);
    margin-top: 50px;
    width: 50%;
    text-align: center;
    padding: 20px;
    margin-left: auto;
margin-right: auto;
border-radius: 15px;
}

input{
    width: 70% !important;
margin-left: auto;
margin-right: auto;
}

textarea{
    width: 70% !important;
    margin-left: auto;
margin-right: auto;
}